databases:

  - name: budget_app_biftu
    databaseName: budget_bifa
    user: budget_biftu

services:
  - type: web
    name: budgetapp
    runtime: ruby
    buildCommand: './bin/render-build.sh'
    startCommand: 'bundle exec puma -C config/puma.rb'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: budget_app_biftu
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
